<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eteng.nhw360" version="0.0.19" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>农惠网</name>
    <description>
    中国农资旗下电商
  </description>
    <author email="hr@e-teng.com.cn" href="http://cordova.io">
    北京易腾时代科技有限公司
  </author>
    <icon src="www/img/icon.png" />
    <splash src="www/img/splash.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <preference name="BackgroundColor" value="0xffffffff" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="10000" />
        <preference name="AndroidLaunchMode" value="singleTop" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <!-- icons -->
        <icon height="180" src="www/img/ios/Icon-60@3x.png" width="180" />
        <icon height="60" src="www/img/ios/Icon-60.png" width="60" />
        <icon height="120" src="www/img/ios/Icon-60@2x.png" width="120" />
        <icon height="76" src="www/img/ios/Icon-76.png" width="76" />
        <icon height="152" src="www/img/ios/Icon-76@2x.png" width="152" />
        <icon height="57" src="www/img/ios/Icon.png" width="57" />
        <icon height="114" src="www/img/ios/Icon@2x.png" width="114" />
        <icon height="72" src="www/img/ios/Icon-72.png" width="72" />
        <icon height="144" src="www/img/ios/Icon-72@2x.png" width="144" />
        <icon height="29" src="www/img/ios/Icon-small.png" width="29" />
        <icon height="58" src="www/img/ios/Icon-small@2x.png" width="58" />

        <!-- splashscreens -->
        <splash src="www/img/screen/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="www/img/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="www/img/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="www/img/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="www/img/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="www/img/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="www/img/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="www/img/screen/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="www/img/screen/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="www/img/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
    </platform>
    <plugin name="cordova-plugin-crosswalk-webview" spec="^1.2.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.0.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^2.0.0" />
    <plugin name="cordova-plugin-device" spec="^1.0.0" />
    <plugin name="com.disusered.open" spec="https://github.com/disusered/cordova-open.git" />
    <plugin name="uk.co.whiteoctober.cordova.appversion" spec="https://github.com/whiteoctober/cordova-plugin-app-version.git" />
    <plugin name="nl.x-services.plugins.launchmyapp" spec="https://github.com/EddyVerbruggen/LaunchMyApp-PhoneGap-Plugin.git">
        <variable name="URL_SCHEME" value="eteng" />
    </plugin>
</widget>
