<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.eteng.nhw360e" version="0.0.23">
    <name>农惠网</name>
    <description>
      中国农资旗下电商
    </description>
    <author email="hr@e-teng.com.cn" href="http://cordova.io">
      北京易腾时代科技有限公司
    </author>
    <icon src="www/img/icon.png"/>
    <splash src="www/img/app/assets/android/default.png"/>
    <content src="index.html"/>
    <access origin="*"/>
    <!-- <allow-navigation href="*://*.nhw360.com/*" />
    <allow-navigation href="*://123.57.75.94:8080/*" /> -->
    <allow-navigation href="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <preference name="BackgroundColor" value="0xffffffff"/>
    <platform name="android">
        <allow-intent href="market:*"/>
        <preference name="SplashScreen" value="screen"/>
        <preference name="SplashScreenDelay" value="10000"/>
        <preference name="AndroidLaunchMode" value="singleTop"/>

        <preference name="ErrorUrl" value="file:///android_asset/www/no-connection.html"/>

        <splash src="www/img/app/assets/android/images/res-notlong-port-hdpi/default.png" density="port-hdpi"/>
        <splash src="www/img/app/assets/android/images/res-notlong-port-ldpi/default.png" density="port-ldpi"/>
        <splash src="www/img/app/assets/android/images/res-notlong-port-mdpi/default.png" density="port-mdpi"/>
        <splash src="www/img/app/assets/android/images/res-notlong-port-xhdpi/default.png" density="port-xhdpi"/>
        <splash src="www/img/app/assets/android/images/res-notlong-port-xxhdpi/default.png" density="port-xxhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>

        <preference name="ErrorUrl" value="/no-connection.html"/>

        <icon height="180" src="www/img/ios/Icon-60@3x.png" width="180"/>
        <icon height="60" src="www/img/ios/Icon-60.png" width="60"/>
        <icon height="120" src="www/img/ios/Icon-60@2x.png" width="120"/>
        <icon height="76" src="www/img/ios/Icon-76.png" width="76"/>
        <icon height="152" src="www/img/ios/Icon-76@2x.png" width="152"/>
        <icon height="57" src="www/img/ios/Icon.png" width="57"/>
        <icon height="114" src="www/img/ios/Icon@2x.png" width="114"/>
        <icon height="72" src="www/img/ios/Icon-72.png" width="72"/>
        <icon height="144" src="www/img/ios/Icon-72@2x.png" width="144"/>
        <icon height="29" src="www/img/ios/Icon-small.png" width="29"/>
        <icon height="58" src="www/img/ios/Icon-small@2x.png" width="58"/>
        <splash height="480" src="www/img/app/assets/iphone/Default.png" width="320"/>
        <splash height="960" src="www/img/app/assets/iphone/Default@2x.png" width="640"/>
        <splash height="1136" src="www/img/app/assets/iphone/Default-568h@2x.png" width="640"/>
        <splash height="1334" src="www/img/app/assets/iphone/Default-667h@2x.png" width="750"/>
        <splash height="2208" src="www/img/app/assets/iphone/Default-Portrait-736h@3x.png" width="1242"/>
    </platform>
    <plugin name="cordova-plugin-crosswalk-webview" spec="^1.2.0"/>
    <plugin name="cordova-plugin-whitelist" spec="~1.0.0"/>
    <plugin name="cordova-plugin-splashscreen" spec="^2.0.0"/>
    <plugin name="cordova-plugin-device" spec="^1.0.0"/>
    <plugin name="nl.x-services.plugins.launchmyapp" spec="^3.2.2">
        <variable name="URL_SCHEME" value="eteng"/>
    </plugin>
    <plugin name="cordova-open" spec="^1.0.8"/>
    <plugin name="cordova-plugin-appversion" spec="^1.0.0"/>
</widget>
