body {
  background-color: #219D3B;
  background-image: url('../img/bg.png');
}

.page {
  height: 100vh;
  position: relative;
}

.main {
  position: absolute;
  width: 100%;
  top: 25%;
}

.sub {
  position: absolute;
  width: 100%;
  top: 60%;
}

.logo {
  width: 15em;
  height: 15em;
}

.hint {
  color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
}

.action {
  margin-top: 2em;
}
